<nav aria-label="Navigazione principale">
	<a href="/"
	   hx-get="/"
	   hx-target="#main-content"
	   hx-swap="innerHTML"
	   hx-push-url="true"
	>Home</a>
	<a href="/speedyweb"
	   hx-get="/speedyweb"
	   hx-target="#main-content"
	   hx-swap="innerHTML"
	   hx-push-url="true"
	>SpeedyWeb</a>
	<a href="/customized"
	   hx-get="/customized"
	   hx-target="#main-content"
	   hx-swap="innerHTML"
	   hx-push-url="true"
	>Su misura</a>
	<a href="/ai"
	   hx-get="/ai"
	   hx-target="#main-content"
	   hx-swap="innerHTML"
	   hx-push-url="true">IA</a>
</nav>