<footer class="site-footer">
	<div class="site-footer-content">
		<ul class="footer-information">
			<li>© Max Software Srl — P. IVA 00612300392</li>
			<li class="footer-contacts">
				<div>
					<span>Mail:</span>
					<a href="mailto:info@maxsoftware.it">info@maxsoftware.it</a>
				</div>
				<span>—</span>
				<div>
					<span>Tel/Fax:</span>
					<a href="tel:+390544527305">(0544)527305</a>
				</div>
			</li>
			<li>Via Classense 76/M, 48124 Ravenna</li>
			<li>
				<a href="/privacy">Privacy e cookie</a>
			</li>
		</ul>
	</div>
</footer>